.sidebar
{
    position:fixed;
    top:55px;
    bottom:0;
    left:0;
    width:90px;
    background-color: white;
    z-index:200;
    padding-top:5px;
}
.sidebar-link
{
    height: 106px;
    cursor:pointer;
}
.sidebar-link img
{
    height:40px;
    width:40px;
}
.sidebar-link:hover
{
    background-color:rgb(230, 225, 225);
}
.sidebar div
{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-family: roboto;
    font-size:13px;
}
